/*4K 3840*2160*/
@media screen and (max-width:3840px) and (max-height:2160px) {
	html {
		font-size: 28px;
	}
}

/*2K 1920*1080*/
@media screen and (max-width:1920px) and (max-height:1080px) {
	html {
		font-size: 14px;
	}
}

/*1280*1024*/
@media screen and (max-width:1280px) and (max-height:1024px) {
	html {
		font-size: 12px;
	}
}

@media screen and (max-width:1024px) and (max-height:768px) {
	html {
		font-size: 12px;
	}
}

@media screen and (max-width:800px) and (max-height:600px) {
	html {
		font-size: 12px;
	}
}

html,
body {}

/*文档标签*/

header {}

footer {}

article {
	padding: 2rem;
	width: 62em;
}

section {}

aside {}

details {}

dialog {}

summary {}

div {}

p {
	font-size: 1rem;
	line-height: 2rem;
	text-indent: 2em;
}

span {}

/*格式标签*/

h1,
.h1,
.heading-1 {
	font-size: 2.5rem;
}

h2,
.h2,
.heading-2 {
	font-size: 2rem;
}

h3,
.h3,
.heading-3 {
	font-size: 1.75rem;
}

h4,
.h4,
.heading-4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}

h1,
.h1,
.heading-1,
h2,
.h2,
.heading-2,
h3,
.h3,
.heading-3,
h4,
.h4,
.heading-4,
h5,
h6 {
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-weight: 900;
}

.t8,
.text-8 {
	font-size: 5rem;
}

.t7,
.text-7 {
	font-size: 4rem;
}

.t6,
.text-6 {
	font-size: 3rem;
}

.t5,
.text-5 {
	font-size: 2.5rem;
}

.t4,
.text-4 {
	font-size: 2rem;
}

.t3,
.text-3 {
	font-size: 1.5rem;
}

.t2,
.text-2 {
	font-size: 1rem;
}

.t1,
.text-1 {
	font-size: 0.6rem;
}

.t1,
.text-1,
.t2,
.text-2,
.t3,
.text-3,
.t4,
.text-4,
.t5,
.text-5,
.t6,
.text-6,
.t7,
.text-7,
.t8,
.text-8 {
	font-weight: 200;
}

/*标记*/

mark {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-left: 0.4rem;
	padding-right: 0.4rem;
	text-wrap: nowrap;
	border-radius: var(--radius);
}

abbr {
	text-decoration-thickness: 1px;
}

/*键入文本*/
kbd {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-left: 0.4rem;
	padding-right: 0.4rem;
	border-radius: 0.3rem;

	background-color: black;
	color: white;

	font-family: sans-serif, monospace;
}

/*计算机样本*/
samp {
	font-family: sans-serif, monospace;
}

/*小文本*/
small {
	font-size: 0.85rem;
}

/*时间文本*/
time {
	font-family: sans-serif, monospace;
}

/*代码文本*/
code {
	font-family: sans-serif, monospace;
}

/*预制格式文本*/
pre {
	color: white;
	padding: 0.5rem;
	background-color: #282c35;
	border-radius: var(--radius);
	border-style: solid;
	border-width: 1px;
	border-color: #3F4143;

	max-height: 21rem;
	overflow: auto;
	overflow: overlay;
	scrollbar-width: thin;
	scrollbar-color: rgba(255, 255, 255, 0.2) transparent;

	tab-size: 4;
	font-size: 0.9rem;
	font-family: Source Code Pro, Consolas, Liberation Mono, Menlo, Courier, monospace;
}

blockquote {
	/*引用块*/
	margin-left: 3rem;
	margin-right: 3rem;
	margin-top: 1rem;
	margin-bottom: 1rem;

	padding: 1rem;
	background-color: beige;
	border-radius: 0.3rem;
}

blockquote p {
	text-indent: 0;
	padding: 0;
	margin: 0;
}

blockquote cite {
	text-align: right;
}

address {
	font-size: 0.9rem;
	font-style: normal;
	line-height: 1.5rem;

	padding: 1rem;
	background-color: lightgray;
	border-radius: 0.3rem;
}

/*功能标签*/

a {
	/*链接默认手指*/
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}

hr {
	/*默认横线*/
	border: none;
	padding: 0;
	margin: 0;
	height: 1px;
	background-color: black;
}

img {
	/*修正img底部空白*/
	vertical-align: middle;
	max-width: 100%;
}

/*表格*/

table {
	border-collapse: collapse;
	table-layout: auto;
	border-spacing: 0;
}

caption {
	background-color: transparent;
	padding: 0.5rem;
}

thead {
	box-sizing: border-box;
}

tbody {
	white-space: nowrap;
}

tfoot {
	box-sizing: border-box;
}

tr {
	box-sizing: border-box;
}

th {
	box-sizing: border-box;
	padding: 0.5rem;
}

td {
	box-sizing: border-box;
	padding: 0.5rem;
}

table.sb,
table.spacing-both {
	border-collapse: separate;
	border-spacing: 1px 1px;
}

table.sh,
table.spacing-horizontal {
	border-collapse: separate;
	border-spacing: 0 1px;
}

table.sv,
table.spacing-vertical {
	border-collapse: separate;
	border-spacing: 1px 0;
}

table.sx,
table.sy,
table.sa,
table.scroll-x,
table.scroll-y,
table.scroll-auto {
	table-layout: fixed;
	display: block;
}

table.sx>thead,
table.sy>thead,
table.sa>thead,
table.scroll-x>thead,
table.scroll-y>thead,
table.scroll-auto>thead {
	position: sticky;
	z-index: 1;
	top: 0;
}

table.sx>thead th:first-child,
table.sy>thead th:first-child,
table.sa>thead th:first-child,
table.scroll-x>thead th:first-child,
table.scroll-y>thead th:first-child,
table.scroll-auto>thead th:first-child {
	position: sticky;
	z-index: 2;
	left: 0;
}

table.sx>tbody th,
table.sy>tbody th,
table.sa>tbody th,
table.scroll-x>tbody th,
table.scroll-y>tbody th,
table.scroll-auto>tbody th {
	position: sticky;
	left: 0;
}

table.sx>tfoot,
table.sy>tfoot,
table.sa>tfoot,
table.scroll-x>tfoot,
table.scroll-y>tfoot,
table.scroll-auto>tfoot {
	position: sticky;
	bottom: 0;
}