:root {
	--body-fore: #212529;
	--body-back: #fff;
	--border: #dee2e6;

	/*主要 Primary*/
	--primary: #0d6efd;
	--primary-rgba: rgba(13, 110, 253, 0.62);
	--primary-text: #0a58ca;
	--primary-pale: #cfe2ff;
	--primary-mild: #9ec5fe;
	/*次要 Secondary*/
	--secondary: #6c757d;
	--secondary-rgba: rgba(108, 117, 125, 0.62);
	--secondary-text: #6c757d;
	--secondary-pale: #f8f9fa;
	--secondary-mild: #e9ecef;
	/*成功 Success*/
	--success: #198754;
	--success-rgba: rgba(25, 135, 84, 0.62);
	--success-text: #146c43;
	--success-pale: #d1e7dd;
	--success-mild: #a3cfbb;
	/*危险 Danger*/
	--danger: #dc3545;
	--danger-rgba: rgba(220, 53, 69, 0.62);
	--danger-text: #b02a37;
	--danger-pale: #f8d7da;
	--danger-mild: #f1aeb5;
	/*警告 Warning*/
	--warning: #ffc107;
	--warning-rgba: rgba(255, 193, 7, 0.62);
	--warning-text: #997404;
	--warning-pale: #fff3cd;
	--warning-mild: #ffe69c;
	/*信息 information*/
	--information: #0dcaf0;
	--information-rgba: rgba(13, 202, 240, 0.62);
	--information-text: #087990;
	--information-pale: #cff4fc;
	--information-mild: #9eeaf9;
	/*亮 Light*/
	--light: #f8f9fa;
	--light-text: #6c757d;
	--light-rgba: rgba(248, 249, 250, 0.62);
	--light-pale: #fcfcfd;
	--light-mild: #e9ecef;
	/*暗 Dark*/
	--dark: #212529;
	--dark-rgba: rgba(33, 37, 41, 0.62);
	--dark-text: #495057;
	--dark-pale: #ced4da;
	--dark-mild: #adb5bd;
}

/*常规状态*/

.primary {
	color: var(--light);
	background-color: var(--primary);
}

.secondary {
	color: var(--light);
	background-color: var(--secondary);
}

.success {
	color: var(--light);
	background-color: var(--success);
}

.danger {
	color: var(--light);
	background-color: var(--danger);
}

.warning {
	color: var(--dark);
	background-color: var(--warning);
}

.information {
	color: var(--dark);
	background-color: var(--information);
}

.light {
	color: var(--dark);
	background-color: var(--light);
}

.dark {
	color: var(--light);
	background-color: var(--dark);
}

.none {
	color: transparent;
	background-color: transparent;
}

/*浅色状态*/

.pale.primary,
.pale-primary {
	color: var(--primary-text);
	background-color: var(--primary-pale);
	border-color: var(--primary-mild);
	border-style: solid;
	border-width: 1px;
}

.pale.secondary,
.pale-secondary {
	color: var(--light-text);
	background-color: var(--secondary-pale);
	border-color: var(--secondary-mild);
	border-style: solid;
	border-width: 1px;
}

.pale.success,
.pale-success {
	color: var(--success-text);
	background-color: var(--success-pale);
	border-color: var(--success-mild);
	border-style: solid;
	border-width: 1px;
}

.pale.danger,
.pale-danger {
	color: var(--danger-text);
	background-color: var(--danger-pale);
	border-color: var(--danger-mild);
	border-style: solid;
	border-width: 1px;
}

.pale.warning,
.pale-warning {
	color: var(--warning-text);
	background-color: var(--warning-pale);
	border-color: var(--warning-mild);
	border-style: solid;
	border-width: 1px;
}

.pale.information,
.pale-information {
	color: var(--information-text);
	background-color: var(--information-pale);
	border-color: var(--information-mild);
	border-style: solid;
	border-width: 1px;
}

.pale.light,
.pale-light {
	color: var(--light-text);
	background-color: var(--light-pale);
	border-color: var(--light-mild);
	border-style: solid;
	border-width: 1px;
}

.pale.dark,
.pale-dark {
	color: var(--dark-text);
	background-color: var(--dark-pale);
	border-color: var(--dark-mild);
	border-style: solid;
	border-width: 1px;
}

/*半透明状态*/

.alpha.primary,
.alpha-primary {
	color: var(--light);
	background-color: var(--primary-rgba);
}

.alpha.secondary,
.alpha-secondary {
	color: var(--light);
	background-color: var(--secondary-rgba);
}

.alpha.success,
.alpha-success {
	color: var(--light);
	background-color: var(--success-rgba);
}

.alpha.danger,
.alpha-danger {
	color: var(--light);
	background-color: var(--danger-rgba);
}

.alpha.warning,
.alpha-warning {
	color: var(--dark);
	background-color: var(--warning-rgba);
}

.alpha.information,
.alpha-information {
	color: var(--dark);
	background-color: var(--information-rgba);
}

.alpha.light,
.alpha-light {
	color: var(--dark);
	background-color: var(--light-rgba);
}

.alpha.dark,
.alpha-dark {
	color: var(--light);
	background-color: var(--dark-rgba);
}

/*文本状态*/

.text.primary,
.text-primary {
	color: var(--primary-text);
	background-color: unset;
}

.text.secondary,
.text-secondary {
	color: var(--secondary-text);
	background-color: unset;
}

.text.success,
.text-success {
	color: var(--success-text);
	background-color: unset;
}

.text.danger,
.text-danger {
	color: var(--danger-text);
	background-color: unset;
}

.text.warning,
.text-warning {
	color: var(--warning-text);
	background-color: unset;
}

.text.information,
.text-information {
	color: var(--information-text);
	background-color: unset;
}

.text.light,
.text-light {
	color: var(--light-text);
	background-color: unset;
}

.text.dark,
.text-dark {
	color: var(--dark-text);
	background-color: unset;
}

.text.none,
.text-none {
	color: transparent;
	background-color: unset;
}

/*闪烁状态*/

@keyframes warning {

	0%,
	from {
		color: var(--warning);
		background-color: transparent;
	}

	100%,
	to {
		color: var(--dark);
		background-color: var(--warning);
	}
}

.flash.warning,
.flash-warning {
	animation: warning alternate 0.6s infinite;
}

@keyframes danger {

	0%,
	from {
		color: var(--danger);
		background-color: transparent;
	}

	100%,
	to {
		color: var(--light);
		background-color: var(--danger);
	}
}

.flash.danger,
.flash-danger {
	animation: danger alternate 0.6s infinite;
}

.selected {
	/*选中反色*/
	filter: invert(1);
	backdrop-filter: invert(1);
}

/*模糊背景*/

.b8,
.blur8 {
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	-moz-backdrop-filter: blur(8px);
	-ms-backdrop-filter: blur(8px);
}

.b16,
.blur16 {
	backdrop-filter: blur(16px);
	-webkit-backdrop-filter: blur(16px);
	-moz-backdrop-filter: blur(16px);
	-ms-backdrop-filter: blur(16px);
}

/*阴影*/
.s0,
.shadow0 {
	box-shadow: 0;
}

.s1,
.shadow1 {
	box-shadow: 10px 10px 0 0 rgba(0, 0, 0, .1);
}

.s2,
.shadow2 {
	box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, .1);
}