/*
<form>
	<fieldset>
		<legend></legend>
		<label></label>
		<input type="button" />
		<input type="checkbox" />
		<input type="color" />
		<input type="date" />
		<input type="datetime" />
		<input type="datetime-local" />
		<input type="email" />
		<input type="file" />
		<input type="hidden" />
		<input type="image" />
		<input type="month" />
		<input type="number" />
		<input type="password" />
		<input type="radio" />
		<input type="range" />
		<input type="reset" />
		<input type="search" />
		<input type="submit" />
		<input type="tel" />
		<input type="text" />
		<input type="time" />
		<input type="url" />
		<input type="week" />
		<textarea></textarea>
		<select>
			<optgroup label="Swedish Cars">
				<option value="volvo">Volvo</option>
				<option value="saab">Saab</option>
			</optgroup>
		</select>
		<button></button>
	</fieldset>
	<input list="browsers">
	<datalist id="browsers">
		<option value="Internet Explorer">
		<option value="Firefox">
		<option value="Chrome">
		<option value="Opera">
		<option value="Safari">
	</datalist>
</form>
*/
:root {
	/*圆角*/
	--radius: 0.35rem;
	/*边框*/
	--border: #e0e0e0;
}

form {}

legend {
	font-size: 1rem;
	border-radius: var(--radius);
}

fieldset {
	padding: 0.25rem 1rem 1rem 1rem;
	border-radius: var(--radius);
	border-color: var(--border);
	border-style: solid;
	border-width: 1px;
}

label {
	display: inline-block;
	font-size: 1rem;
	line-height: 1.5rem;
	white-space: nowrap;
	padding: 0.5rem 0 0.5rem 0;
	margin: 0.25rem;
}

input,
textarea,
select,
button,
.button {
	font-family: sans-serif;
	font-size: 1rem;
	line-height: 1.5rem;
	box-sizing: content-box;
	display: inline-block;
	padding: 0.5rem 0.8rem 0.5rem 0.8rem;
	margin: 0.25rem;

	background-color: white;
	background-clip: padding-box;
	border-color: var(--border);
	border-style: solid;
	border-width: 1px;
	border-radius: var(--radius);

	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

label,
input,
select,
button {
	vertical-align: middle;
	height: 1.5rem;
}

button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
	padding: 0.5rem 1rem 0.5rem 1rem;
}

textarea,
input[type="image"] {
	vertical-align: top;
	padding: 0.5rem;
	min-height: 1.5rem;
	height: unset;
}

input[type="range"],
input[type="radio"],
input[type="checkbox"] {
	height: unset;
	padding: 0;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
	outline: 0;
	border-color: #86b7fe;
	box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25)
}