:root {
	/*默认线条*/
	--line: 1px;
	/*盒子布局主间隔*/
	--space: 1rem;
}

.us,
.unselect {
	/*禁止选中文本*/
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
}

.hide {
	/*隐藏*/
	display: none;
	visibility: hidden;
}

/*
布局
横向：h(horizontal)
纵向：v(vertical)
分栏：c(column)
层叠：s(stack)
流动：f(flow)
*/

.h,
.horizontal {
	/*横向布局，内容满铺*/
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: stretch;
}

.ht,
.horizontal-top {
	/*横向布局，内容靠上*/
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: flex-start;
}

.hc,
.horizontal-center {
	/*横向布局，内容居中*/
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
}

.hb,
.horizontal-bottom {
	/*横向布局，内容靠下*/
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: flex-end;
}

.h>.g,
.h>.grow,
.horizontal>.g,
.horizontal>.grow,
.ht>.g,
.ht>.grow,
.horizontal-top>.g,
.horizontal-top>.grow,
.hc>.g,
.hc>.grow,
.horizontal-center>.g,
.horizontal-center>.grow,
.hb>.g,
.hb>.grow,
.horizontal-bottom>.g,
.horizontal-bottom>.grow {
	/*横向布局，横向增长*/
	flex-grow: 100;
	/*以下修正超长问题*/
	flex-basis: 1%;
	width: 1%;
}

.h>hr,
.horizontal>hr,
.ht>hr,
.horizontal-top>hr,
.hc>hr,
.horizontal-center>hr,
.hb>hr,
.horizontal-bottom>hr {
	/*横向布局，分隔线*/
	width: var(--line);
	height: 100%;
	border: none;
}

.v,
.vertical {
	/*纵向布局，内容满铺*/
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: stretch;
}

.vl,
.vertical-left {
	/*纵向布局，内容靠左*/
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: flex-start;
}

.vc,
.vertical-center {
	/*纵向布局，内容居中*/
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
}

.vr,
.vertical-right {
	/*纵向布局，内容靠右*/
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: flex-end;
}

.v>.g,
.v>.grow,
.vertical>.g,
.vertical>.grow,
.vl>.g,
.vl>.grow,
.vertical-left>.g,
.vertical-left>.grow,
.vc>.g,
.vc>.grow,
.vertical-center>.g,
.vertical-center>.grow,
.vr>.g,
.vr>.grow,
.vertical-right>.g,
.vertical-right>.grow {
	/*纵向布局，纵向增长*/
	flex-grow: 100;
	/*以下修正超长问题*/
	flex-basis: 1%;
	height: 1%;
}

.v>hr,
.vertical>hr,
.vl>hr,
.vertical-left>hr,
.vc>hr,
.vertical-center>hr,
.vr>hr,
.vertical-right>hr {
	/*纵向布局，分隔线*/
	width: 100%;
	height: var(--line);
	border: none;
}

.s,
.stack {
	/*层叠布局*/
	position: relative;
}

.s>*,
.stack>* {
	position: absolute;
}

.s>.f,
.s>.fill,
.s>.full {
	/*层叠布局，内容满铺*/
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.s>.t,
.s>.top {
	/*层叠布局，内容顶铺*/
	top: 0;
	left: 0;
	right: 0;
}

.s>.c,
.s>.center {
	/*层叠布局，内容中铺*/
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.s>.b,
.s>.bottom {
	/*层叠布局，内容底铺*/
	left: 0;
	right: 0;
	bottom: 0;
}

.s>.l,
.s>.left {
	/*层叠布局，内容左铺*/
	top: 0;
	left: 0;
	bottom: 0;
}

.s>.m,
.s>.middle {
	/*层叠布局，内容中铺*/
	top: 0;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.s>.r,
.s>.right {
	/*层叠布局，内容右铺*/
	top: 0;
	right: 0;
	bottom: 0;
}

.s>.lt,
.s>.left-top {
	/*层叠布局，内容左上*/
	top: 0;
	left: 0;
}

.s>.lm,
.s>.left-middle {
	/*层叠布局，内容左中*/
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.s>.lb,
.s>.left-bottom {
	/*层叠布局，内容左下*/
	left: 0;
	bottom: 0;
}

.s>.ct,
.s>.center-top {
	/*层叠布局，内容中上*/
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.s>.cm,
.s>.center-middle {
	/*层叠布局，内容居中*/
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.s>.cb,
.s>.center-bottom {
	/*层叠布局，内容中下*/
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
}

.s>.rt,
.s>.right-top {
	/*层叠布局，内容右上*/
	top: 0;
	right: 0;
}

.s>.rm,
.s>.right-middle {
	/*层叠布局，内容右中*/
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.s>.rb,
.s>.right-bottom {
	/*层叠布局，内容右下*/
	right: 0;
	bottom: 0;
}

/*分栏布局*/

.c0,
.c2,
.c3,
.c4,
.c5,
.c6,
.column-0,
.column-2,
.column-3,
.column-4,
.column-5,
.column-6 {}

.c0,
.column0 {
	break-inside: avoid;
	column-count: 0;
	column-gap: 0;
}

.c2,
.column-2 {
	break-inside: avoid;
	column-count: 2;
	column-gap: 0;
}

.c3,
.column-3 {
	break-inside: avoid;
	column-count: 3;
	column-gap: 0;
}

.c4,
.column-4 {
	break-inside: avoid;
	column-count: 4;
	column-gap: 0;
}

.c5,
.column-5 {
	break-inside: avoid;
	column-count: 5;
	column-gap: 0;
}

.c6,
.column-6 {
	break-inside: avoid;
	column-count: 6;
	column-gap: 0;
}

/*流动布局*/

.f2,
.f3,
.f4,
.f5,
.f6,
.flow-2,
.flow-3,
.flow-4,
.flow-5,
.flow-6 {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
}

.f2>*,
.flow-2>* {
	box-sizing: border-box;
	flex-basis: 50%;
	width: 50%;
}

.f3>*,
.flow-3>* {
	box-sizing: border-box;
	flex-basis: 33.33%;
	width: 33.33%;
}

.f4>*,
.flow-4>* {
	box-sizing: border-box;
	flex-basis: 25%;
	width: 25%;
}

.f5>*,
.flow-5>* {
	box-sizing: border-box;
	flex-basis: 20%;
	width: 20%;
}

.f6>*,
.flow-6>* {
	box-sizing: border-box;
	flex-basis: 16.66%;
	width: 16.66%;
}

/*布局辅助*/

.w0,
.width-0 {
	box-sizing: border-box;
	flex-basis: 0;
	width: 0;
}

.w5,
.width-5 {
	box-sizing: border-box;
	flex-basis: 5%;
	width: 5%;
}

.w10,
.width-10 {
	box-sizing: border-box;
	flex-basis: 10%;
	width: 10%;
}

.w15,
.width-15 {
	box-sizing: border-box;
	flex-basis: 15%;
	width: 15%;
}

.w20,
.width-20 {
	box-sizing: border-box;
	flex-basis: 20%;
	width: 20%;
}

.w25,
.width-25 {
	box-sizing: border-box;
	flex-basis: 25%;
	width: 25%;
}

.w30,
.width-30 {
	box-sizing: border-box;
	flex-basis: 30%;
	width: 30%;
}

.w35,
.width-35 {
	box-sizing: border-box;
	flex-basis: 35%;
	width: 35%;
}

.w40,
.width-40 {
	box-sizing: border-box;
	flex-basis: 40%;
	width: 40%;
}

.w45,
.width-45 {
	box-sizing: border-box;
	flex-basis: 45%;
	width: 45%;
}

.w50,
.width-50 {
	box-sizing: border-box;
	flex-basis: 50%;
	width: 50%;
}

.w55,
.width-55 {
	box-sizing: border-box;
	flex-basis: 55%;
	width: 55%;
}

.w60,
.width-60 {
	box-sizing: border-box;
	flex-basis: 60%;
	width: 60%;
}

.w65,
.width-65 {
	box-sizing: border-box;
	flex-basis: 65%;
	width: 65%;
}

.w70,
.width-70 {
	box-sizing: border-box;
	flex-basis: 70%;
	width: 70%;
}

.w75,
.width-75 {
	box-sizing: border-box;
	flex-basis: 75%;
	width: 75%;
}

.w80,
.width-80 {
	box-sizing: border-box;
	flex-basis: 80%;
	width: 80%;
}

.w85,
.width-85 {
	box-sizing: border-box;
	flex-basis: 85%;
	width: 85%;
}

.w90,
.width-90 {
	box-sizing: border-box;
	flex-basis: 90%;
	width: 90%;
}

.w95,
.width-95 {
	box-sizing: border-box;
	flex-basis: 95%;
	width: 95%;
}

.w100,
.width-100 {
	box-sizing: border-box;
	flex-basis: 100%;
	width: 100%;
}

.w62,
.width-62 {
	box-sizing: border-box;
	flex-basis: 61.8%;
	width: 61.8%;
}

.w38,
.width-38 {
	box-sizing: border-box;
	flex-basis: 38.2%;
	width: 38.2%;
}

.h0,
.height-0 {
	box-sizing: border-box;
	flex-basis: 0;
	height: 0;
}

.h5,
.height-5 {
	box-sizing: border-box;
	flex-basis: 5%;
	height: 5%;
}

.h10,
.height-10 {
	box-sizing: border-box;
	flex-basis: 10%;
	height: 10%;
}

.h15,
.height-15 {
	box-sizing: border-box;
	flex-basis: 15%;
	height: 15%;
}

.h20,
.height-20 {
	box-sizing: border-box;
	flex-basis: 20%;
	height: 20%;
}

.h25,
.height-25 {
	box-sizing: border-box;
	flex-basis: 25%;
	height: 25%;
}

.h30,
.height-30 {
	box-sizing: border-box;
	flex-basis: 30%;
	height: 30%;
}

.h35,
.height-35 {
	box-sizing: border-box;
	flex-basis: 35%;
	height: 35%;
}

.h40,
.height-40 {
	box-sizing: border-box;
	flex-basis: 40%;
	height: 40%;
}

.h45,
.height-45 {
	box-sizing: border-box;
	flex-basis: 45%;
	height: 45%;
}

.h50,
.height-50 {
	box-sizing: border-box;
	flex-basis: 50%;
	height: 50%;
}

.h55,
.height-55 {
	box-sizing: border-box;
	flex-basis: 55%;
	height: 55%;
}

.h60,
.height-60 {
	box-sizing: border-box;
	flex-basis: 60%;
	height: 60%;
}

.h65,
.height-65 {
	box-sizing: border-box;
	flex-basis: 65%;
	height: 65%;
}

.h70,
.height-70 {
	box-sizing: border-box;
	flex-basis: 70%;
	height: 70%;
}

.h75,
.height-75 {
	box-sizing: border-box;
	flex-basis: 75%;
	height: 75%;
}

.h80,
.height-80 {
	box-sizing: border-box;
	flex-basis: 80%;
	height: 80%;
}

.h85,
.height-85 {
	box-sizing: border-box;
	flex-basis: 85%;
	height: 85%;
}

.h90,
.height-90 {
	box-sizing: border-box;
	flex-basis: 90%;
	height: 90%;
}

.h95,
.height-95 {
	box-sizing: border-box;
	flex-basis: 95%;
	height: 95%;
}

.h100,
.height-100 {
	box-sizing: border-box;
	flex-basis: 100%;
	height: 100%;
}

.h62,
.height-62 {
	box-sizing: border-box;
	flex-basis: 61.8%;
	height: 61.8%;
}

.h38,
.height-38 {
	box-sizing: border-box;
	flex-basis: 38.2%;
	height: 38.2%;
}

/*间隔*/

.m0,
.margin-0 {
	margin: 0;
}

.m1,
.margin-1 {
	margin: 1px;
}

.ma,
.margin-auto {
	margin: auto;
}

.ms,
.margin-small {
	margin: calc(var(--space) / 2);
}

.mm,
.margin-medium {
	margin: var(--space);
}

.ml,
.margin-large {
	margin: calc(var(--space) * 2);
}

.mx,
.margin-extra {
	margin: calc(var(--space) * 4);
}

/*横向布局间隔（子元素）*/

.hm0>*,
.horizontal-margin-0>* {
	margin-left: 0;
}

.hm1>*,
.horizontal-margin-1>* {
	margin-left: 1px;
}

.hma>*,
.horizontal-margin-auto>* {
	margin-left: auto;
}

.hms>*,
.horizontal-margin-small>* {
	margin-left: calc(var(--space) / 2);
}

.hmm>*,
.horizontal-margin-medium>* {
	margin-left: var(--space);
}

.hml>*,
.horizontal-margin-large>* {
	margin-left: calc(var(--space) * 2);
}

.hmx>*,
.horizontal-margin-extra>* {
	margin-left: calc(var(--space) * 4);
}

.hm0>:first-child,
.horizontal-margin-0>:first-child,
.hm1>:first-child,
.horizontal-margin-1>:first-child,
.hma>:first-child,
.horizontal-margin-auto>:first-child,
.hms>:first-child,
.horizontal-margin-small>:first-child,
.hmm>:first-child,
.horizontal-margin-medium>:first-child,
.hml>:first-child,
.horizontal-margin-large>:first-child,
.hmx>:first-child,
.horizontal-margin-extra>:first-child {
	margin-left: 0;
}

/*纵向间隔（子元素）*/

.vm0>*,
.vertical-margin-0>* {
	margin-top: 0;
}

.vm1>*,
.vertical-margin-1>* {
	margin-top: 1px;
}

.vma>*,
.vertical-margin-auto>* {
	margin-top: auto;
}

.vms>*,
.vertical-margin-small>* {
	margin-top: calc(var(--space) / 2);
}

.vmm>*,
.vertical-margin-medium>* {
	margin-top: var(--space);
}

.vml>*,
.vertical-margin-large>* {
	margin-top: calc(var(--space) * 2);
}

.vmx>*,
.vertical-margin-extra>* {
	margin-top: calc(var(--space) * 4);
}

.vm0>:first-child,
.vertical-margin-0>:first-child,
.vm1>:first-child,
.vertical-margin-1>:first-child,
.vma>:first-child,
.vertical-margin-auto>:first-child,
.vms>:first-child,
.vertical-margin-small>:first-child,
.vmm>:first-child,
.vertical-margin-medium>:first-child,
.vml>:first-child,
.vertical-margin-large>:first-child,
.vmx>:first-child,
.vertical-margin-extra>:first-child {
	margin-top: 0;
}

/*分栏间隔（子元素）*/

.cm0,
.column-margin-0 {
	column-gap: 0;
}

.cm1,
.column-margin-1 {
	column-gap: 1px;
}

.cms,
.column-margin-small {
	column-gap: calc(var(--space) / 2);
}

.cmm,
.column-margin-medium {
	column-gap: calc(var(--space));
}

.cml,
.column-margin-large {
	column-gap: calc(var(--space) * 2);
}

.cmx,
.column-margin-extra {
	column-gap: calc(var(--space) * 4);
}

/*流动间隔（子元素）*/

.fm1>*,
.flow-margin-1>* {
	margin-bottom: 1px;
	margin-right: 1px;
}

.f2.fm1>*,
.flow-2.flow-margin-1>* {
	flex-basis: calc((100% - 1px) / 2);
	width: calc((100% - 1px) / 2);
}

.f3.fm1>*,
.flow-3.flow-margin-1>* {
	flex-basis: calc((100% - 2px) / 3);
	width: calc((100% - 2px) / 3);
}

.f4.fm1>*,
.flow-4.flow-margin-1>* {
	flex-basis: calc((100% - 3px) / 4);
	width: calc((100% - 3px) / 4);
}

.f5.fm1>*,
.flow-5.flow-margin-1>* {
	flex-basis: calc((100% - 4px) / 5);
	width: calc((100% - 4px) / 5);
}

.f6.fm1>*,
.flow-6.flow-margin-1>* {
	flex-basis: calc((100% - 5px) / 6);
	width: calc((100% - 5px) / 6);
}

.f2.fm1>:nth-child(2n),
.flow-2.flow-margin-1>:nth-child(2n),
.f3.fm1>:nth-child(3n),
.flow-3.flow-margin-1>:nth-child(3n),
.f4.fm1>:nth-child(4n),
.flow-4.flow-margin-1>:nth-child(4n),
.f5.fm1>:nth-child(5n),
.flow-5.flow-margin-1>:nth-child(5n),
.f6.fm1>:nth-child(6n),
.flow-6.flow-margin-1>:nth-child(6n) {
	margin-right: 0;
}

.fms>*,
.flow-margin-small>* {
	margin-bottom: calc(var(--space) / 2);
	margin-right: calc(var(--space) / 2);
}

.f2.fms>*,
.flow-2.flow-margin-small>* {
	flex-basis: calc((100% - var(--space) / 2) / 2);
	width: calc((100% - var(--space) / 2) / 2);
}

.f3.fms>*,
.flow-3.flow-margin-small>* {
	flex-basis: calc((100% - var(--space)) / 3);
	width: calc((100% - var(--space)) / 3);
}

.f4.fms>*,
.flow-4.flow-margin-small>* {
	flex-basis: calc((100% - var(--space) * 1.5) / 4);
	width: calc((100% - var(--space) * 1.5) / 4);
}

.f5.fms>*,
.flow-5.flow-margin-small>* {
	flex-basis: calc((100% - var(--space) * 2) / 5);
	width: calc((100% - var(--space) * 2) / 5);
}

.f6.fms>*,
.flow-6.flow-margin-small>* {
	flex-basis: calc((100% - var(--space) * 2.5) / 6);
	width: calc((100% - var(--space) * 2.5) / 6);
}

.f2.fms>:nth-child(2n),
.flow-2.flow-margin-small>:nth-child(2n),
.f3.fms>:nth-child(3n),
.flow-3.flow-margin-small>:nth-child(3n),
.f4.fms>:nth-child(4n),
.flow-4.flow-margin-small>:nth-child(4n),
.f5.fms>:nth-child(5n),
.flow-5.flow-margin-small>:nth-child(5n),
.f6.fms>:nth-child(6n),
.flow-6.flow-margin-small>:nth-child(6n) {
	margin-right: 0;
}

.fmm>*,
.flow-margin-medium>* {
	margin-bottom: calc(var(--space));
	margin-right: calc(var(--space));
}

.f2.fmm>*,
.flow-2.flow-margin-medium>* {
	flex-basis: calc((100% - var(--space)) / 2);
	width: calc((100% - var(--space)) / 2);
}

.f3.fmm>*,
.flow-3.flow-margin-medium>* {
	flex-basis: calc((100% - var(--space) * 2) / 3);
	width: calc((100% - var(--space) * 2) / 3);
}

.f4.fmm>*,
.flow-4.flow-margin-medium>* {
	flex-basis: calc((100% - var(--space) * 3) / 4);
	width: calc((100% - var(--space) * 3) / 4);
}

.f5.fmm>*,
.flow-5.flow-margin-medium>* {
	flex-basis: calc((100% - var(--space) * 4) / 5);
	width: calc((100% - var(--space) * 4) / 5);
}

.f6.fmm>*,
.flow-6.flow-margin-medium>* {
	flex-basis: calc((100% - var(--space) * 5) / 6);
	width: calc((100% - var(--space) * 5) / 6);
}

.f2.fmm>:nth-child(2n),
.flow-2.flow-margin-medium>:nth-child(2n),
.f3.fmm>:nth-child(3n),
.flow-3.flow-margin-medium>:nth-child(3n),
.f4.fmm>:nth-child(4n),
.flow-4.flow-margin-medium>:nth-child(4n),
.f5.fmm>:nth-child(5n),
.flow-5.flow-margin-medium>:nth-child(5n),
.f6.fmm>:nth-child(6n),
.flow-6.flow-margin-medium>:nth-child(6n) {
	margin-right: 0;
}

.fml>*,
.flow-margin-large>* {
	margin-bottom: calc(var(--space) * 2);
	margin-right: calc(var(--space) * 2);
}

.f2.fml>*,
.flow-2.flow-margin-large>* {
	flex-basis: calc((100% - var(--space) * 2) / 2);
	width: calc((100% - var(--space) * 2) / 2);
}

.f3.fml>*,
.flow-3.flow-margin-large>* {
	flex-basis: calc((100% - var(--space) * 4) / 3);
	width: calc((100% - var(--space) * 4) / 3);
}

.f4.fml>*,
.flow-4.flow-margin-large>* {
	flex-basis: calc((100% - var(--space) * 6) / 4);
	width: calc((100% - var(--space) * 6) / 4);
}

.f5.fml>*,
.flow-5.flow-margin-large>* {
	flex-basis: calc((100% - var(--space) * 8) / 5);
	width: calc((100% - var(--space) * 8) / 5);
}

.f6.fml>*,
.flow-6.flow-margin-large>* {
	flex-basis: calc((100% - var(--space) * 10) / 6);
	width: calc((100% - var(--space) * 10) / 6);
}

.f2.fml>:nth-child(2n),
.flow-2.flow-margin-large>:nth-child(2n),
.f3.fml>:nth-child(3n),
.flow-3.flow-margin-large>:nth-child(3n),
.f4.fml>:nth-child(4n),
.flow-4.flow-margin-large>:nth-child(4n),
.f5.fml>:nth-child(5n),
.flow-5.flow-margin-large>:nth-child(5n),
.f6.fml>:nth-child(6n),
.flow-6.flow-margin-large>:nth-child(6n) {
	margin-right: 0;
}

.fmx>*,
.flow-margin-extra>* {
	margin-bottom: calc(var(--space) * 4);
	margin-right: calc(var(--space) * 4);
}

.f2.fmx>*,
.flow-2.flow-margin-extra>* {
	flex-basis: calc((100% - var(--space) * 4) / 2);
	width: calc((100% - var(--space) * 4) / 2);
}

.f3.fmx>*,
.flow-3.flow-margin-extra>* {
	flex-basis: calc((100% - var(--space) * 8) / 3);
	width: calc((100% - var(--space) * 8) / 3);
}

.f4.fmx>*,
.flow-4.flow-margin-extra>* {
	flex-basis: calc((100% - var(--space) * 12) / 4);
	width: calc((100% - var(--space) * 12) / 4);
}

.f5.fmx>*,
.flow-5.flow-margin-extra>* {
	flex-basis: calc((100% - var(--space) * 16) / 5);
	width: calc((100% - var(--space) * 16) / 5);
}

.f6.fmx>*,
.flow-6.flow-margin-extra>* {
	flex-basis: calc((100% - var(--space) * 20) / 6);
	width: calc((100% - var(--space) * 20) / 6);
}

.f2.fmx>:nth-child(2n),
.flow-2.flow-margin-extra>:nth-child(2n),
.f3.fmx>:nth-child(3n),
.flow-3.flow-margin-extra>:nth-child(3n),
.f4.fmx>:nth-child(4n),
.flow-4.flow-margin-extra>:nth-child(4n),
.f5.fmx>:nth-child(5n),
.flow-5.flow-margin-extra>:nth-child(5n),
.f6.fmx>:nth-child(6n),
.flow-6.flow-margin-extra>:nth-child(6n) {
	margin-right: 0;
}

.f2>:nth-child(2n+1):nth-last-child(-n+2),
.f2>:nth-child(2n+1):nth-last-child(-n+2)~*,
.f3>:nth-child(3n+1):nth-last-child(-n+3),
.f3>:nth-child(3n+1):nth-last-child(-n+3)~*,
.f4>:nth-child(4n+1):nth-last-child(-n+4),
.f4>:nth-child(4n+1):nth-last-child(-n+4)~*,
.f5>:nth-child(5n+1):nth-last-child(-n+5),
.f5>:nth-child(5n+1):nth-last-child(-n+5)~*,
.f6>:nth-child(6n+1):nth-last-child(-n+6),
.f6>:nth-child(6n+1):nth-last-child(-n+6)~* {
	/* 重置最后一行 来自"永远不会太晚" */
	margin-bottom: 0;
}

/*填充空间*/

.p0,
.padding-0 {
	padding: 0;
}

.p1,
.padding-1 {
	padding: 1px;
}

.pa,
.padding-auto {
	padding: auto;
}

.ps,
.padding-small {
	padding: calc(var(--space) / 2);
}

.pm,
.padding-medium {
	padding: var(--space);
}

.pl,
.padding-large {
	padding: calc(var(--space) * 2);
}

.px,
.padding-extra {
	padding: calc(var(--space) * 4);
}

/*圆角*/

.br0,
.border-radius-0 {
	border-radius: 0;
}

.br1,
.border-radius-1 {
	border-radius: 1px;
}

.brs,
.border-radius-small {
	border-radius: calc(var(--space) / 4);
}

.brm,
.border-radius-medium {
	border-radius: calc(var(--space) / 2);
}

.brl,
.border-radius-large {
	border-radius: calc(var(--space) * 1);
}

.brx,
.border-radius-extra {
	border-radius: calc(var(--space) * 2);
}

/*滚动条*/

.sa,
.scroll-auto {
	overflow: auto;
	overflow: overlay;
}

.sx,
.scroll-x {
	overflow-x: auto;
	overflow-x: overlay;
	overflow-y: hidden;
}

.sy,
.scroll-y {
	overflow-x: hidden;
	overflow-y: auto;
	overflow-y: overlay;
}

.sa,
.sx,
.sy {
	/* 滚动条样式*/
	scrollbar-width: thin;
	scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}

/*文本对齐*/

.tl,
.text-left {
	text-align: left;
}

.tc,
.text-center {
	text-align: center;
}

.tr,
.text-right {
	text-align: right;
}

.te,
.text-ellipsis {
	/*文本超出范围显示省略号*/
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-all;
}

.tn,
.text-nowrap {
	/*文本禁止换行*/
	white-space: nowrap;
}

.ts>*,
.text-scroll>* {
	/*文本溢出滚动*/
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
	animation: scroll 10s linear infinite;
	animation-delay: 1s;
}

.ts:hover>*,
.text-scroll:hover>* {
	animation-play-state: paused;
}

@keyframes scroll {
	0% {}

	100% {
		transform: translateX(-100%);
	}
}

/*遮罩*/

.mask {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999999;
	/*半透明*/
	background-color: rgba(00, 00, 0, 0.5);
}

.mask>* {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*阴影*/

.s0,
.sb0,
.ss0,
.shadow-0,
.shadow-blur-0,
.shadow-sharp-0 {
	box-shadow: none;
}

.sb1,
.shadow-blur-1 {
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
}

.sbs,
.shadow-blur-small {
	box-shadow: calc(var(--space) / 4) calc(var(--space) / 4) calc(var(--space) / 4) rgba(0, 0, 0, .1);
}

.sbm,
.shadow-blur-medium {
	box-shadow: calc(var(--space) / 2) calc(var(--space) / 2) calc(var(--space) / 2) rgba(0, 0, 0, .1);
}

.sbl,
.shadow-blur-large {
	box-shadow: var(--space) var(--space) var(--space) rgba(0, 0, 0, .1);
}

.sbx,
.shadow-blur-extra {
	box-shadow: calc(var(--space) * 2) calc(var(--space) * 2) calc(var(--space) * 2) rgba(0, 0, 0, .1);
}

.ss1,
.shadow-sharp-1 {
	box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.2);
}

.sss,
.shadow-sharp-small {
	box-shadow: calc(var(--space) / 4) calc(var(--space) / 4) rgba(0, 0, 0, .1);
}

.ssm,
.shadow-sharp-medium {
	box-shadow: calc(var(--space) / 2) calc(var(--space) / 2) rgba(0, 0, 0, .1);
}

.ssl,
.shadow-sharp-large {
	box-shadow: var(--space) var(--space) rgba(0, 0, 0, .1);
}

.ssx,
.shadow-sharp-extra {
	box-shadow: calc(var(--space) * 2) calc(var(--space) * 2) rgba(0, 0, 0, .1);
}

/*模糊背景*/

.b0,
.blur-0 {
	backdrop-filter: none;
}

.bs,
.blur-small {
	backdrop-filter: blur(calc(var(--space) / 4));
}

.bm,
.blur-medium {
	backdrop-filter: blur(calc(var(--space) / 2));
}

.bm,
.blur-large {
	backdrop-filter: blur(var(--space));
}

.bm,
.blur-extra {
	backdrop-filter: blur(calc(var(--space) * 2));
}